%Font400_18 {
  font-weight: 700;
  font-size: 14px;
}

%Font700_14 {
  font-weight: 700;
  font-size: 14px;
}

%Font700_16 {
  font-weight: 700;
  font-size: 16px;
}

%Font700_36 {
  font-weight: 700;
  font-size: 36px;
}

%Font700_18 {
  font-weight: 700;
  font-size: 18px;
}

%Font900_44 {
  font-weight: 900;
  font-size: 44px;
}

%Font700_26 {
  font-weight: 900;
  font-size: 44px;
}
